# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Data and Logs
data/
*.db
*.bin
*.log
runs/
experiments/weights/
experiments/Baseline*/
experiments/db_*/

# Images (Broad ignore)
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.webp

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.blg
*.bbl
# *.pdf (Keep if you want to push the final report)

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# EXCEPTIONS - Images and files needed for the report
!wyniki/examples/
!wyniki/wykresy/
!raport.tex
